<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isanroman.threeinone">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragmentView" android:screenOrientation="portrait"></activity>
        <activity android:name=".EconomicsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
        <activity android:name=".EconomicsPurchase"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
        <activity android:name=".Universe"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
        <activity android:name=".RPG"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
        <activity android:name=".RPG_Inventory"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>